.square { 
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px;
    background: lightgrey;
    float: left;
    outline: 1px solid black;

}

.horizontal {
    width: 4px;
    height: 5px;
    outline: 1px solid blue;
}

.vertical {
    width: 5px;
    height: 45px;
    outline: 1px solid blue;
}

.piece {
    position: absolute;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    top: 2px;
    left: 2px;
}


.player1 {
    background: blue;
}

.player2 {
    background: red;
}
