.square { 
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px;
    background: lightgrey;
    float: left;
    outline: 1px solid black;
}

.piece {
    position: absolute;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    top: 2px;
    left: 2px;
}

.tomove {
  border: 2px solid gold;
    top: 0;
    left: 0;
}

.player1 {
    background: lightblue;
}

.player2 {
    background: red;
}
