.board {
    position: relative;
    width: 450px;  
    height: 450px;
    background: grey;
}

.player1 {
  color: lightblue;
  margin-right: 10px;
}

.player2 {
  color: red;
  margin-right: 10px;
}

.errormessage {
  color: orange;
  margin-top: 10px;
}
