<div class="board">

<app-board-square *ngFor="let square of squares; let i = index" 
     (squareClicked)="onSquareClicked($event)"
     (pieceClicked)="onPieceClicked($event)"
     [idx]="i" 
     [location]="getSquareLocation(i)"
     [player]=square
 ></app-board-square>


<app-board-wall [wall]="wall" *ngFor="let wall of horizontalWalls; let i = index" [idx]="i" ></app-board-wall>
</div>

<button (click)="wallSelectorClicked()">select wall</button>
<h2> Current Player: Player {{player.key}}</h2>
<h2> Walls: </h2>
Player 1: {{players[0].walls}}
Player 2: {{players[1].walls}}
