<div class="board">
  <app-board-square
    *ngFor="let square of squares; let i = index"
    (squareClicked)="onSquareClicked($event)"
    [idx]="i"
    [connectivity]="getSquareConnections(i)"
    [player]="square"
    [pawnToMove]="pawnToMove"
  ></app-board-square>

  <app-board-wall
    (click)="onWallClicked(i, 'vertical')"
    *ngFor="let wall of verticalWalls; let i = index; trackBy: trackByWalls"
    [wall]="verticalWalls[i]"
    [idx]="i"
    [orientation]="'vertical'"
  ></app-board-wall>

  <app-board-wall
    (click)="onWallClicked(i, 'horizontal')"
    *ngFor="let wall of horizontalWalls; let i = index; trackBy: trackByWalls"
    [wall]="horizontalWalls[i]"
    [idx]="i"
    [orientation]="'horizontal'"
  ></app-board-wall>

</div>

<div class="errormessage">
  {{ errorMessage }} &nbsp;
</div>
<h4>Current Player: </h4>
<div class="player" [ngClass]="{ player1: currentTurn % 2 == 0, player2: currentTurn % 2 == 1}" >
  Player {{ player.key }}
</div>
<div>
  <div class="piece pawn1"></div>
  <p class="playerinfo ">Player 1 - Walls: {{ players[0].walls }}</p>
</div>

<div>
  <div class="piece pawn2"></div>
  <p class="playerinfo">Player 2 - Walls: {{ players[1].walls }}</p>
</div>
<h4>Turn: </h4> {{ currentTurn + 1 }}
